margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #5cabec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título {
    color: #169bee;
    font-size: 54px;
}

.cabeçalho-lista {
    color: rgb(10, 0, 0);
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 120px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}
rodapé{
    background-color: #459e3f;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
}

.rodapé-imagem{
    width: 120px;
}

.rodapé-ícone{
    width: 20px;
}